
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: #1f2937;
    padding: 25px;
    margin: 10px;
   
    
    
}

.links{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
   gap: 10px;
   align-items: center;
}

.mid-container{
    display: flex;
    justify-content:center;
    gap: 20px;
    padding: 50px;

}

